/HOG/venv/
/HOG/.idea/
/HOG/data/INRIAPerson
/HOG/data/cifar-10-batches-py
/HOG/data/INRIAPerson.tar
/DPM/voc-release5.tgz
/YOLO_v1/__pycache__
/YOLO_v1/*.pth
/YOLO_v1/.vscode
/.vscode
/SSD/__pycache__
/SSD/.vscode
/SSD/weights
/SSD/runs
